
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100&family=Montserrat:wght@900&family=Source+Code+Pro&display=swap');



html{
  background: white;
  display: grid;
}

strong{
  background: black;
  height: 40px;
  width: 1920px;
  position: absolute;
  top: 0px;
  left: 0px;
}
strong h1{
  position: absolute;
  color: white;
  font-size: 15px;
  letter-spacing: 10px;
  top: 0.5px;
  left: 810px;
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Source Code Pro', monospace;
  font-weight: 1;
}
strong #opensidebar{
  position: absolute;
  top: 2px;
  width: 30px;
  height: 30px;
}