<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Home -- media_ernstabbe</title>
  </head>
  <body>
    {% extends "template.html" %}
    {% block content %}
        <div id="background-field1">
        <div class="card">
            <img src="img_avatar.png" alt="avatar" style="width:100%">
            <div class="contain">
                <h4><b>AbbeTV</b></h4>
                <p>Fime,und habe spaß</p>
            </div>
        </div>
        </div>
        <img src="{{url_for('static', filename='964406.png')}}" id="banner"></img>

    {% endblock %}
  </body>
</html>